body {
  margin: 2%;
  padding: 2%;
  background-image: url(../public/image/background\ img.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
.secondnote {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.firstnote {
  font-size: larger;
  display: flex;
  margin-top: 2%;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nameOfCouple{
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: xx-large;
  margin-top: 1%;
  color: rgb(235, 61, 61);
}
.invite{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  margin-left: 42%;
  margin-top: 1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.invSecondLine{
  margin-left: 2.5%;
  
}
.time{
  display: flex;
  margin-top: 1%;
  justify-content: center;
  font-size: xx-large;
  color: blue;
}
.description{
  margin-top: 3%;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: brown;
}
.descriptionOne{
  margin-left: 41%;
  
}
.descriptionTwo{
  margin-left: 40%;
}
.descriptionThree{
  margin-left: 39.5%;
}
.end{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}